@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}



html, body {
  max-width: 100vw;
  min-height: 100vh;
}

body{
  background: rgb(39, 73, 245);
  background: linear-gradient(45deg,rgba(39, 73, 245)0%, rgba(73, 103, 250)30%,rgba(88, 114, 247)100% );
}
a{
text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {}

  html{
    color-scheme: dark;
  }
}